<!-- <div class="navbar-dark">
    <a class="nav-link" routerLink="/users" routerLinkActive="active">Users</a>
    <a class="nav-link" routerLink="/repository" routerLinkActive="active">Repositories</a>
</div> -->

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="/assets/Octocat.png" width="35" height="35" alt="">
      Github Search
    </a>

<div class="navbar" id="navbarSupportedContent">
    <!-- <ul class="navbar-nav mr-auto"> -->
      <!-- <li class="nav-item active"> -->
        <a class="nav-link" routerLink="/users" routerLinkActive="active">Users</a>
     <!-- / -->
      <!-- <li class="nav-item"> -->
        <a class="nav-link" routerLink="/repository" routerLinkActive="active">Repositories</a>
      <!-- </li> -->
    <!-- </ul> -->
</div>
<router-outlet></router-outlet>